.chevron {
  filter: invert(100%);
  vertical-align: middle;
}
.menuGroupLink {
  text-decoration: none;
  color: white;
}

.menuGroupLink-links {
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
}

.menuGroupLink a {
  text-decoration: none;
  color: white;
  display: block;
}

.menuGroupLink-header {
  cursor: pointer;
}
